.page-frame {
  background-image: url("public/images/frame.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 250px;
  margin-top: 150px;
  bottom: 5px;
}

.hero-section {
  background-image: url("public/images/hero-bg.png");
  height: 50%;
  width: auto;
  background-position: center;
  background-size: cover;
}

footer {
  background-image: url("/images/fotter-placer.png");
  height: 400px;
  margin-top: 70px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}
